#status {
  font-size: 35;
  font-weight: bold;
  fill: white;
  font-family: System-Regular;
  text-anchor: middle;
  display-align: after;
  text-length: 30;
  height: 100%-50;
}

#spinner {
  x: 80;
  y: 20;
  width: 45;
  height: 45;
  fill: white;
}

#icon {
  height: 45;
  width: 45;
  x: 20;
  y: 20;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
  x: 0;
  y: 0;
}

#background.success {
  fill: darkgreen;
}

#background.failure {
  fill: darkred;
}

#foreground {
  width: 100%;
  height: 100%;
  opacity: 0;
  x: 0;
  y: 0;
}
